<!--批量提交-->
<div class="modal_father"></div>
<ion-modal-view class="modal_view" ng-controller="SubimtToNextPhaseController">
    <ion-header-bar align-title="center" class="bar-positive">
        <div>
            <button class="button button-clear" ng-click="hideModal()">
                <i class="ion ion-close" style="font-size: 20px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
            </button>
        </div>
        <h4 class="title">下一阶段动作选择</h4>
    </ion-header-bar>
    <ion-content class="gray-main">
        <ul class="checkList">
            <li>
                <div class="am-label">
                    <img src="img/icon_title.png" class="icon_title" style="margin-right:3%;" />提交动作选择：
                </div>
            </li>
            <li ng-repeat="Action in NextActions">
                <input style="margin-left: 5%;" name="nextActionItem" class="am-checkbox" type="radio" ng-click="showActionUser(Action)" />
                <div class="checkLabel">{{Action.NextPhaseAction}}</div>
            </li>
            <li ng-show="showUsers">
                <div class="am-label">
                    <img src="img/icon_title.png" class="icon_title" style="margin-right:3%;" />{{ActionSet}}
                </div>
            </li>
            <li>
                <ion-scroll has-bouncing="false" style="width:90%; margin:auto;" direction="y">
                    <div class="item" ng-repeat="user in ActionUsers">
                        <input style="margin-left:-10px;" name="nextActionOperatorItem" type="checkbox" ng-checked="user.checked" ng-click="batchActionUsersChoose(user)">
                        <div class="checkLabel">{{user.UserStr}}</div>
                    </div>
                    <h3 class="am-button" ng-show="userFlag&&showUsers&&NodeType!='DISTRIBUTE'" style="text-align:center;">
                        <span style="color:red;">{{errMsg}}</span>
                    </h3>
                </ion-scroll>
            </li>
        </ul>
        <dl class="am-list notice-list_a" ng-show="showUsers">
            <dd>
                <h3 class="am-button" style="text-align:center;">
                    <span style="color:red;">{{nextPhaseInfo}}</span>
                </h3>
            </dd>
        </dl>

    </ion-content>
    <ion-footer-bar>

        <div class="col ">
            <button type="button" class="examine-button-red" ng-click="hideModal()">放弃</button>
        </div>
        <div class="col">
            <button type="button" class="examine-button-blue" ng-click="submit()">提交</button>
        </div>

    </ion-footer-bar>
</ion-modal-view>