<!-- 审批详情tab页 (横向)-->
<ion-header-bar class="bar-positive" align-title="center">
    <div class="button am-back" ng-click="goBackList()"></div>
    <h1 class="title">审批详情</h1>
</ion-header-bar>
<ion-header-bar class="bar-subheader am-sub-header" ng-style="{'width':'{{contentWidth}}px'}">
    <ion-scroll has-bouncing="false" direction="x" delegate-handle="smallScroll02">
        <div style="width:{{scrollWidth}}px;">
            <ul class="am-tab row ">
                <li ng-repeat="item in items" style="padding: 0px;font-size: 8px;" class="col col-{{length}}" ng-class="{active:item.ShowFlag}"
                    ng-click="selectDetailTab(item)">{{item.Tab}}</li>
            </ul>
        </div>
    </ion-scroll>
</ion-header-bar>

<ion-content class="gray-main am-content-has-sub-header am-list arrow-list " style="width: {{contentWidth}}px;" delegate-handle="smallScroll01"
    class="ui-wrap">


    <!-- 通用模板加载 -->
    <div ng-show="BasicTempletShow" ng-controller="BasicTempletController">
        <div ng-include="'templates/RFexamine/BasicTemplet.html'" style="width: 100%"></div>
    </div>



    <!-- 通用模板加载BA、Html -->
    <div ng-show="BasicTempletBAHtmlShow" ng-controller="BasicTempletBAHtmlController">
        <div ng-bind-html="reportInfo.ReportData" id="jh-html-container"></div>
    </div>


    <!-- 通用Html -->
    <div ng-show="BasicHtmlShow" ng-controller="BasicHtmlController">
        <ion-scroll ng-show="!noData" zooming="true" direction="xy" style="width: 100%; height: {{contentHeight}}px">
            <div style="width: 100%;" ng-bind-html="report.ReportData" id="rf-html-container"></div>
        </ion-scroll>
        <div style="background: #f0effe;" class="noDataBox" ng-show="noData">
            <div class="nodata">
                <img src="img/empty_page.png" width="70px">
                <span class="nodata_span">调查报告还未生成</span>
            </div>
        </div>
    </div>

    <!-- 历史意见列表 -->
    <div ng-show="BasicOPHListShow" ng-controller="BasicOPHListController">
        <div ng-include="'templates/RFexamine/BasicOPHList.html'" style="width: 100%"></div>
    </div>

    <!-- 各级意见列表 -->
    <div ng-show="BasicOPLListShow" ng-controller="BasicOPLListController">
        <div ng-include="'templates/RFexamine/BasicOPLList.html'" style="width: 100%"></div>
    </div>


    <!-- 额度切分列表（特殊处理） -->
    <div ng-show="CLDListShow" ng-controller="CLDListController">
        <div ng-include="'templates/RFexamine/CLDList.html'" style="width: 100%"></div>
    </div>

</ion-content>

<ion-footer-bar ng-show="finished == '0'">
    <div class="btn-box row" ng-show="FlowNo!='CustomerRightFlow'" style="width:{{contentWidth}}px">
        <div class="col">
            <button type="button" class="examine-button-red" ng-click="backToAnyNode()">退回任意阶段</button>
        </div>
        <div class="col">
            <button type="button" class="examine-button-blue" ng-click="SaveOpinion()">意见保存</button>
        </div>
        <div class="col">
            <button type="button" class="examine-button-red" ng-click="DoSubmit()">提交</button>
        </div>
    </div>
    <div class="btn-box row" ng-show="FlowNo=='CustomerRightFlow'" style="width:{{contentWidth}}px">
        <div class="col">
            <button type="button" class="examine-button-red" ng-click="DoSubmit()">提交</button>
        </div>
    </div>
</ion-footer-bar>