@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-div{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 323px;
}
.flex-div div{
    flex:1;
}


body {
    font-size: 12px;
    font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", PMingLiu, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #000;
    overflow: hidden;
}

html, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td, blockquote {
    margin: 0;
    padding: 0
}

img {
    border: none;
    vertical-align: top
}

ul, li {
    list-style-type: none
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 10px
}

input, select, button, textarea {
    font-size: 12px;
    font-family: "Microsoft YaHei UI Light", "Microsoft YaHei", PMingLiu, Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer
}

i, em, cite {
    font-style: normal;
}

a, a:link {
    color: #3a3a3a;
    text-decoration: none
}

a:active, a:hover {
    color: #ff7e00;
    text-decoration: none;
    font-weight: bold;
}

a:focus {
    outline: none
}

.fixed:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

.fixed {
    display: block;
    min-height: 1%
}

* html .fixed {
    height: 1%
}

.clear {
    display: block !important;
    float: none !important;
    clear: both;
    overflow: hidden;
    width: auto !important;
    height: 0 !important;
    margin: 0 auto !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0
}

.fl, .fr {
    display: inline;
    float: left
}

.fr {
    float: right
}

/*sign-img*/
.sign-img {
    background:#fff url(../img/icon-login-background.png) no-repeat 50% 45%;
    -webkit-background-size: cover;
    background-size: cover;
}

.sign-input-list {
    padding: 35px 10px 15px;
}

.sign-input-list > li {
    margin: 20px 0;
}

.sign-input-list input::-webkit-input-placeholder {
    color: #fff;
}

.sign-checkWord {
    color: #fff;
}

.sign-input-list .sign-checkbox {
    position: relative;
    right: 0px;
    border: 1px solid #f00;
    background: none;
    padding: 8px;
}

.sign-input-list .sign-text, .sign-input-list .sign-select, .sign-input-list .sign-textarea {
    background: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    color: #888;
    line-height: 36px;
    height: 36px;
    background: #fff;
}

.sign-input-list .sign-select {
    background: url(../img/select_arrow.png) no-repeat right center;
    background-size: 26px 10px;
}

.sign-img-center{
    text-align: center;
    padding-top: 25%;
}
.sign-img-center2 {
    text-align: center;
    padding-top: 6%;
}

.sign-img-center3 {
    text-align: center;
}

/*{text-align: center; padding-top:40px;}*/

.sign-img-center img {
    width: 70%;
}

.title{
    font-size: 30px;
    text-align: center;
    color: #191919;
    padding-bottom: 4%;
    letter-spacing: 5px;
    width:100%;
    /* padding-top: -2.5%; */
}

/*登录页按钮*/
.sign-button {
    display: inline-block;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
    line-height: 36px;
    border: 1px solid #2ea9fb;
}

.sign-button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.sign-title{
    display: flex;
    margin: 6% auto;
    width: 47%;
}

.login-li-user{
    width:65%; height:36px; border-bottom:1px solid #2ea9fb; margin:auto !important; display: flex; flex-direction: row;
}
.login-li-pwd{
    width:65%; height:36px; border-bottom:1px solid #2ea9fb; margin:6% auto 6% auto !important; display: flex; flex-direction: row;
}
.login-li-img{
    width:2.2rem;
}
.login-input{
    background-color: #fff !important;
    display: inline !important;
    padding-top: 2px;
    padding-left: 10px !important;
    color: #b9b9b9 !important;
    vertical-align: middle;
    width: 70% !important;
}

.eye{
	font-size: 1.2rem;
    position: relative;
    margin-left: 6%;
    margin-top: 0.7rem;
    color: #b9b9b9;
}

/*复选框*/
#container {
    margin: 0;
}

#container span {
    position: relative;
}

#container .input_check {
    position: absolute;
    visibility: hidden;
}

#container .input_check + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
}

#container .input_check:checked + label:after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 12px;
    width: 16px;
    height: 7px;
    border: 2px solid #fd8845;
    border-top-color: transparent;
    border-right-color: transparent;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-45deg);
}

.search-cancel-button {
    position: relative;
    margin-top: 0.5rem;
    margin-left: 6%;
    width: 20px;
    height: 20px;
    background: url("../img/search-cancel-button.png") no-repeat -20px -10px;
}

.m-logon {
    background: #fafafa;
    height: 100%;
}

.m-logon .avatar-wrapper {
    overflow: hidden;
    margin: 80px auto 0;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    width: 70px;
    height: 70px;
    background: url("../img/ewm.png") no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.m-logon form {
    margin: 30px 0 20px;
}

.m-logon .logon-box {
    position: relative;
    border: #d7d7d7 solid 1px;
    border-left: none;
    border-right: none;
    background: white;
}

.m-logon .logon-input-wrapper {
    overflow: hidden;
    margin: 0 16px;
    border-bottom: #dddddd solid 1px;
}

.m-logon .logon-input-wrapper:last-of-type {
    border: none;
}

.m-logon .logon-icon {
    float: left;
    margin: 10px 15px 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/logon-icon.png");
    -webkit-background-size: 23px auto;
    background-size: 23px auto;
}

.m-logon .logon-icon.forName {
    width: 19px;
    height: 20px;
    background-position: 0 -21px;
}

.m-logon .logon-icon.forPwd {
    width: 19px;
    height: 21px;
    background-position: 0 -41px;
}

.m-logon .logon-input-box {
    position: relative;
    overflow: hidden;
}

.m-logon .logon-input-wrapper input {
    display: block;
    border: none;
    padding: 12px 50px 12px 12px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: white;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.m-logon .logon-btn {
    display: block;
    margin: 20px 16px 15px;
    border: 1px solid;
    font-size: 1.0625rem;
    line-height: 43px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.m-logon .logon-btn.logon-btn-positive {
    border-color: #39b0ff;
    color: white;
    background: #39b0ff;
}

/*业务提醒*/
.flex-remind{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 265px;
}
.flex-remind dd{
    flex: 1;
}

/*审批统计*/
.flex-approve{
    display:flex;
    min-width: 123px;
}

.flex-approve h2 {
    line-height: 30px;
    font-size: 16px;
    /* color: #379D9D; */
    text-indent: 8px;
    /* background: #E6F7F5; */
    width:100%;
    background-color: #e8f4fc;
    color: #1899f0;
}

/*工作日志*/
.flex-log{
    display:flex; 
    min-width:130px;
}
/*日志详情*/
.flex-logtab{
    display: flex;
    flex-direction: row;
    min-width: 205px;
}
.flex-logContent{
    display: flex;
    min-width: 105px;
}
.flex-logContent ul{
    flex:1;
}
/*新增日志*/
.flex-logadd{
    display:flex; 
    min-width:105px;
}
.flex-logadd ul{
    flex: 1;
}
/*业务签批*/
.flex_examine{
    display:flex; min-width:265px; flex-direction:column;
}
.examine_title{
    background-color: #e8f4fc;
    color: #1899f0;
    font-size: 1rem;
    height: 42px;
    padding-top: 12px;
    padding-left: 2%;
    letter-spacing: 0.1rem;   
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.examine_title.active{
    background-color: #e8f4fc !important;
}
.icon_title{
    vertical-align: middle;
    margin-right: 2px;
    letter-spacing: 0.1rem;
    padding-bottom: 3px;
}
.examine-item{
    background-color: #fff;
    height: 42px;
    padding-top: 12px;
    font-size: 0.8rem;
    border-bottom: 1px #dedede dotted;
}
.item_show{
    padding-bottom: 15px; padding-left: 4%; padding-right: 4%;
}

.examine-searchBtn{
    position: absolute;
    right: 0px;
    font-size: 1.5rem;
    width: 50px;
    color: white;
    margin-top: 11px;
    text-align: center;
}

.examine-button-red{
    min-width: 100px;
    height: 32px;
    background: #fc3f6c;
    color: #fff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    touch-action: manipulation;
    cursor: pointer;
}
.examine-button-blue{
    min-width: 100px;
    height: 32px;
    background: #4892ff;
    color: #fff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    touch-action: manipulation;
    cursor: pointer;
}

.modal_father{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background-color: rgba(50,50,50,0.8);
}
.modal_view{
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    min-height: 70%;
    width: 90%;
    margin-top: 12%; 
    margin-left: 5%
}

/*业务签批-待处理列表*/
.worktip_item{
    border: #ddd 1px solid;
    margin: 5px auto 0px auto;
}
.worktip_p{
    font-size: 0.8rem !important;
    white-space: normal !important;
    width: 86% !important;
    margin-left: 0% !important;
    line-height: 40px;
}
.triangle{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 0px;
    width: 0px;
    border-left: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-right: 45px solid #ff6a00;
}
.triangle span{
    color: #fff;
    font-size: 0.6rem;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1.3rem;
}
.triangle label{
    font-size: 0.8rem;
}

/*额度切分*/
.divide-btn{
    min-width: 20px;
    height: 22px;
    background: #39baff;
    color: #fff;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 11px;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.7rem;
    touch-action: manipulation;
    cursor: pointer;
    letter-spacing: 0.1rem;
    margin-left: 2%;
    font-family: "Heti SC";
    margin-top: -3px;
}
.m-divide-input{
    border:0.5px solid #bbb1b1 !important;
    width:80% !important; 
    display:inline !important;
    height:26px !important;
}
.worktip_item tr{
    border-bottom: 0.1px dashed #e1e1e1 !important;
}
.worktip_item tr td:nth-child(1){
    font-size:0.7rem; 
    color:#777;
}

/*搜索页*/
.searchBar-approve{
    height: 34px;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 4px;
    width: 32.5%;
}
.flex-search{
    display:flex; 
    min-width:337px;
}
.flex-search ul{
    flex: 1;
}
.searchBar-apply{
    height: 34px;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 4px;
    width: 100%;
}

/*业务签批--跑马灯*/
.approve-marquee{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
}

/*详情菜单*/
.tab_button{
    color: white !important;
    padding-top: 0.2rem !important;
    padding-right: 0.1rem !important;
}
.slide-item{
    border:1px #ddd dashed;
    color: #333;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

/*总行通知*/
.noticeDetail-title{
    width: 100%;
    height: 30px;
    background: #DAF0FD;
    font-size: 1rem;
    color: #0867AB;
    line-height: 30px;
}
.noticeDetail-p{
    min-height: 200px;
    font-size: 0.8rem;
    color: #333;
    background: #fff;
    width: 97%;
    margin: 2% auto;
}

