<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="button am-back" ng-click="goBack()"></div>
        <h1 class="title">审批统计</h1>
    </ion-header-bar>
    <ion-content class="gray-main">
        <dl class="am-list notice-list">
            <div class="exam_container">
                <div>
                    <h2>审批动作统计</h2>
                    <!--图标插入开始-->
                    <div id="container" style="width: 100%; height: 300px"></div>
                    <h2>审批时效性统计</h2>

                    <div id="container1" style="width: 100%; height: 300px"></div>
                    <!--图标插入结束-->
                </div>
            </div>
        </dl>
    </ion-content>
</ion-view>
