<ion-view>
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="button am-back" ng-click="goBack()"></div>
        <h1 class="title">版本说明</h1>
    </ion-header-bar>
    <ion-content style="background: #f0effe;" class="gray-main">
        <dl style="background: #f0effe;" class="am-list notice-list_a">
            <div class="sign-img-center2">
                <h3 class="padding-room">移动终端</h3>

                <div><img src="img/rf_about.png"></div>
            </div>
            <dd>
                <h3><span>1. </span><span>该版本为最新版本，更新日期：2018/06/28</span></h3>
            </dd>
            <dd>
                <h3><span>2. </span><span>新增功能概要：无</span></h3>
            </dd>
            <dd>
                <h3><span>3. </span><span>技术支持：amarsoft</span></h3>
            </dd>
        </dl>
    </ion-content>
</ion-view>