<ion-view >
<ion-header-bar align-title="center" class="bar-positive">
<div class="button am-back" ng-click="goBack()"></div>
<h1 class="title">用户密码初始化</h1>
<div  style="position: absolute;right: 0px;font-size: 30px;width: 60px;color: white;margin-top: 10px;text-align: center;"
class="ion-search" ng-click="showSearchBar()">
</div>
<div style="width:{{secondNavWidth}}px;position: fixed;background-color: #ffffff;height: 170px;top: 43px;border-bottom:1px solid #ccc;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.17);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.17);box-shadow: 0 1px 1px rgba(0,0,0,0.17)"
 ng-if="info.show" >
<ul style="width:{{secondNavWidth}}px">
 <li>
<div>
<input class="am-text" type="text" placeholder="用户名称" ng-model="query.UserName"
style="width: 250px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;">
</div>
</li>
<li>
<div>
<input class="am-text" type="text" placeholder="用户编号" ng-model="query.UserId"
style="width: 250px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;">
</div>
</li>
<li>
<div style="margin-top: 20px;margin-left: 30px">
<button class="button button-assertive"
style="width: 100px;position: absolute;align-content: center;"
ng-click="clearData()">清 除</button>
<button class="button button-positive"
style="width: 100px;position: absolute;align-content: center;margin-left: 150px"
ng-click="searchinfo()">查 询</button>
</div>
</li>
</ul>
</div>
       </ion-header-bar>
          <ion-content class="gray-main">
                            <ion-refresher on-refresh="refresh()"
                                           pulling-text="下拉刷新"
                                           refreshing-text="正在刷新中"
                                           spinner="ios">
                            </ion-refresher>
                            <ion-checkbox ng-repeat = "item in items"  ng-checked = "item.checked" ng-model ="item.checked">
                            <h2 style="font-size: 20px;"> {{item.UserName}}<h2>
                            <h3 style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.LogonId}} | {{item.BelongOrg}} | {{item.Status}}</h3>
                            </ion-checkbox>
                                <div class="noDataBox" ng-show="noData">
                                    <div class="nodata">
                                        <img src="img/empty_page.png" width="70px">
                                        <span class="nodata_span">暂无数据</span>
                                    </div>
                                </div>
                                <div class="loadingBox" ng-show="loadingMore">
                                    <ion-spinner icon="ios"></ion-spinner>
                                    <h3>正在加载中</h3>
                                </div>
                            <ion-infinite-scroll icon="ion-loading-c"
                                                 ng-if="hasMore"
                                                 on-infinite="loadMore()"
                                                 distance="1%">
                                <div>正在加载中</div>
                            </ion-infinite-scroll>
                        </ion-content>
           <ion-footer-bar>
            <div class="btn-box row" style="width:{{contentWidth}}px">
             <div class="col ">
                <button type="button" class="am-button am-button-blue" ng-click="showDialog()" >初始化密码</button>
            </div>
        </div>
	       </ion-footer-bar>
      </ion-view>
