<!--<ion-view>-->
    <!--<ion-header-bar class="bar-positive" align-title="center">-->
        <!--<div class="button am-back" ng-click="goBack()"></div>-->
        <!--<h1 class="title">消息</h1>-->
    <!--</ion-header-bar>-->
    <!--<ion-content class="gray-main">-->
        <!--<dl class="am-list arrow-list">-->
            <!--<dd class="item am-button-default" ng-click="gotoNotice()">-->
                <!--<i class="am_iconfont font-icon-green">&#xe60a;</i>-->

                <!--<div class="my_spot" ng-show=newscount.noticeCount!=0><span-->
                        <!--class="spot font-icon-white iconfont_replace">{{newscount.noticeCount}}</span></div>-->
                <!--<p class="font_s16"><span>总行通知</span></p>-->
            <!--</dd>-->
            <!--<dd class="item am-button-default" ng-click="gotoRemind()">-->
                <!--<i class="am_iconfont am-icon-sx2">&#xe614;</i>-->

                <!--<div class="my_spot" ng-show=newscount.remindCount!=0><span-->
                        <!--class="spot font-icon-white iconfont_replace">{{newscount.remindCount}}</span></div>-->
                <!--<p class="font_s16"><span>到期业务提醒</span></p>-->
            <!--</dd>-->
            <!--<dd class="item am-button-default" ng-click="gotoPasswordXG()">-->
                <!--<i class="am_iconfont font-icon-gxl">&#xe614;</i>-->

                <!--<div class="my_spot" ng-show=newscount.passwordXGCount!=0><span-->
                        <!--class="spot font-icon-white iconfont_replace">{{newscount.passwordXGCount}}</span></div>-->
                <!--<p class="font_s16"><span>密码修改提醒</span></p>-->
            <!--</dd>-->
            <!--<dd class="item am-button-default" ng-click="gotoRemoteDL()">-->
                <!--<i class="am_iconfont font-icon-blue">&#xe614;</i>-->

                <!--<div class="my_spot" ng-show=newscount.remoteDLCount!=0><span-->
                        <!--class="spot font-icon-white iconfont_replace">{{newscount.remoteDLCount}}</span></div>-->
                <!--<p class="font_s16"><span>异地登录提醒</span></p>-->
            <!--</dd>-->
        <!--</dl>-->
    <!--</ion-content>-->
<!--</ion-view>-->
