<ion-view>
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="button am-back" ng-click="goBack()"></div>
        <h1 class="title">版本检查</h1>
    </ion-header-bar>
    <ion-content class="gray-main">
        <dl class="am-list notice-list">
            <div class="sign-img-center2">
                <h3 class="padding-room">移动审批</h3>

                <div><img src="img/ewm.jpg"></div>
            </div>
            <dd>
                <h3 class="am-button"><span>1. </span><span>当前所使用的为最新版本</span></h3>
            </dd>
            <dd>
                <h3 class="am-button"><span>2. </span><span>版本号：123.32.345</span></h3>
            </dd>
        </dl>
    </ion-content>
</ion-view>